body {
    height: 100vh;
    margin: 0;
    display: flex;
    justify-content: center;
    align-items: center;
    background: linear-gradient(270deg, #ff6a00, #ee0979, #00c6ff);
    background-size: 600% 600%;
    animation: bg 10s infinite;
    font-family: Arial;
}

@keyframes bg {
    0% { background-position: 0% }
    50% { background-position: 100% }
    100% { background-position: 0% }
}

.box {
    background: white;
    padding: 40px;
    border-radius: 10px;
}
