body {
    background:#e3f2fd;
    font-family:Arial;
}
.box {
    width:300px;
    margin:120px auto;
    padding:20px;
    background:white;
    border-radius:8px;
}
input, button {
    width:100%;
    padding:10px;
    margin:8px 0;
}
button {
    background:#1976d2;
    color:white;
    border:none;
}
