body {
    display: flex;
    justify-content: center;
    margin-top: 100px;
}

.progress {
    width: 300px;
    height: 20px;
    background: #ddd;
    border-radius: 10px;
}

.fill {
    width: 75%;
    height: 100%;
    background: green;
    border-radius: 10px;
}
