.card{
    box-sizing: border-box;
    width: 480px;
    height: 450px;
    margin: 0px;
    padding: 0px;
    box-shadow: 2px 2px 12px rgba(0,0,0,0.4);
    margin-left: 20px;
    border-radius: 20px;
}
.container{
    display: grid;
    gap: 20px;
    padding: 20px;
grid-template-columns: repeat(4, 1fr);
    text-align: center;
}
.A{
    text-align: center;
     border-radius: 8px;
     
    
}
.card1{
    box-sizing: border-box;
    width: 480px;
    height: 450px;
    margin: 0px;
    padding: 20px;
    box-shadow: 2px 2px 12px rgba(0,0,0,0.4);
    margin-left: 20px;
    border-radius: 20px;
}
